{% extends "AppBundle::base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <fieldset>
            <legend>Nouvelle partie</legend>
            {{ form_start(form, {'attr': {'class' : 'form-inline'}}) }}
            {{ form_end(form) }}
        </fieldset>
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}