.missing-character{
    text-align:center;
}

.player-data{
    display: none;
}

.progress{
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}